@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #191919;
  --accent: #d87d4a;
}

@media (prefers-color-scheme: dark) {
}

body {
  background: white;
}

.bg-hero-mobile {
  background-image: url("../../public/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
