@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #191919;
  --accent: #d87d4a;
  --bg-gray-product: #f1f1f1;
  --text-primary: #979797;
}

body {
  background: white;
}

.bg-hero {
  background-image: url("../../public/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.bg-feature {
  background-image: url("../../public/assets//home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.bg-zx7 {
  background-image: url("../../public/assets//home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

@media only screen and (min-width: 430px) {
  .bg-hero {
    background-image: url("../../public/assets/home/tablet/image-header.jpg");
  }

  .bg-feature {
    background-position: center -10rem;
    background-size: cover;
  }

  .bg-zx7 {
    background-image: url("../../public/assets//home/tablet/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-hero {
    background-image: url("../../public/assets/home/desktop/image-hero.jpg");
    background-position: right center;
    background-size: contain;
  }

  .bg-feature {
    background-position: -12rem -2rem;
    background-size: auto;
  }

  .bg-zx7 {
    background-image: url("../../public/assets//home/desktop/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
}
