@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #191919;
  --accent: #d87d4a;
  --bg-gray-product: #f1f1f1;
  --text-primary: #979797;
}

@media (prefers-color-scheme: dark) {
}

body {
  background: white;
}

.bg-hero-mobile {
  background-image: url("../../public/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.bg-feature {
  background-image: url("../../public/assets//home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.bg-zx7 {
  background-image: url("../../public/assets//home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
